<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsf</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
		<param-value>1</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/cstigo.components.taglib.xml</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.sendPoweredByHeader</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.validateXml</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.verifyObjects</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.enableLazyBeanValidation</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.enableThreading</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.cacheResourceModificationTimestamp</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.numberOfViewsInSession</param-name>
		<param-value>20</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.numberOfLogicalViews</param-name>
		<param-value>20</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.compressViewState</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.serializeServerState</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.responseBufferSize</param-name>
		<param-value>500000</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.resourceBufferSize</param-name>
		<param-value>10240</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.defaultResourceMaxAge</param-name>
		<param-value>86400000</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.resourceUpdateCheckPeriod</param-name>
		<param-value>0</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.displayConfiguration</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>redmond</param-value>
	</context-param>
	<listener>
		<listener-class>com.tigo.cs.listener.ApplicationContextListener</listener-class>
	</listener>
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>jCaptchaServlet</servlet-name>
		<servlet-class>com.octo.captcha.module.servlet.image.SimpleImageCaptchaServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jCaptchaServlet</servlet-name>
		<url-pattern>/captcha.jpg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>com.tigo.cs.view.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/ImageServlet/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>resources.i18n.LocaleBundle</param-value>
	</context-param>
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/resources/errorpages/errorSessionExpired.jsp</location>
	</error-page>
	<error-page>
		<exception-type>com.sun.faces.context.FacesFileNotFoundException</exception-type>
		<location>/resources/errorpages/error403.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/resources/errorpages/error401.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/resources/errorpages/error403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/resources/errorpages/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/resources/errorpages/error500.jsp</location>
	</error-page>
	<security-constraint>
		<display-name>Direct resource access protection</display-name>
		<web-resource-collection>
			<web-resource-name>Archivos html,xhtml,jspx</web-resource-name>
			<url-pattern>*.html</url-pattern>
			<url-pattern>*.xhtml</url-pattern>
			<url-pattern>*.jspx</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>nobody</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>nobody</role-name>
	</security-role>
	<servlet>
		<description>JAX-RS Tools Generated - Do not modify</description>
		<servlet-name>JAX-RS Servlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>JAX-RS Servlet</servlet-name>
		<url-pattern>/jaxrs/*</url-pattern>
	</servlet-mapping>
</web-app>